@import 'fonts';


html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	text-overflow: ellipsis;
}

input,
select {
	outline: none;
}


/* Wrapper
================================ */

.wrapper {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	background: #F2F2F2;
}

/* Container
================================ */

.container {
	width: 100%;
	height: 480px;
	display: flex;
	max-width: 665px;
	margin: 0 auto;
}


/* Aside
================================ */
.aside {
	position: relative;
	min-width: 137px;
	background: #5A61ED;

	&__text {
		display: inline-block;
		width: 165px;


		position: absolute;
		left: 19px;
		bottom: 73px;

		font-family: 'PT Sans', sans-serif;
		font-size: 49px;
		line-height: 63px;
		letter-spacing: 0.5px;
		color: #FFFFFF;

		transform: rotate(-90deg);
	}
}




/* Form
================================ */
.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: relative;

	max-width: 528px;
	width: 100%;
	height: 100%;
	padding: 39px 21px 30px;

	font-family: 'Work Sans', sans-serif;
	color: #111111;

	background-color: #fff;

	&__inner {
		position: relative;
		z-index: 1;
	}

	&__title {
		font-size: 22px;
		font-weight: 500;
		line-height: 26px;
		letter-spacing: -0.46px;
	}

	&__subtitle {
		margin-bottom: 17px;

		font-size: 14px;
		font-weight: 300;
		line-height: 16px;
	}

	&__row {
		width: 100%;
		display: flex;

		margin-bottom: 13px;

		&-inner {
			position: relative;

			max-width: 235px;
			width: 100%;

			&:first-child {
				margin-right: 14px;
			}

		}

		&:nth-child(2) {
			margin-bottom: 0;
		}
	}

	&__label {
		font-size: 12px;
		font-weight: 300;
		line-height: 14px;
		color: #7C7C7C;
	}

	&__input,
	&__select {
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right: 5px;

		font-size: 14px;
		line-height: 16px;
		text-overflow: ellipsis;
		border: none;
		border-bottom: 1px solid #F2F2F2;
		background-color: transparent;
		text-overflow: ellipsis;

		&::placeholder {
			color: #111111;
		}

		&.error {
			color: #FF2222;
			border-color: #FF2222;

			&::placeholder {
				color: #FF2222;
			}
		}
	}

	&__select {
		position: relative;
		margin-right: 10px;
		padding-right: 0;

		select {
			width: 100%;

			position: relative;
			z-index: 1;

			appearance: none;
			border: none;
			cursor: pointer;
			background-color: transparent;
		}

		&.date {
			width: 56px;
		}

		&.month {
			width: 91px;
		}

		&.year {
			width: 67px;
			margin-right: 0;
		}

		&::after {
			content: "\f107";
			font-family: 'icomoon' !important;
			position: absolute;
			right: 0;
		}
	}

	&__radio {
		display: flex;
		align-items: center;
		padding-left: 17px;
		padding-top: 4px;

		position: relative;

		font-size: 14px;
		line-height: 16px;

		cursor: pointer;

		&+.form__radio {
			margin-left: 21px;
		}

		.radio {
			appearance: none;

			&:checked~span::after {
				display: block;
			}
		}

		span {
			height: 12px;
			width: 12px;

			position: absolute;
			left: 0;

			border: 0.7px solid #5A61ED;
			border-radius: 50%;

			&::after {
				display: none;
				content: '';
				height: 6px;
				width: 6px;
				position: absolute;
				top: 50%;
				left: 50%;

				transform: translate(-50%, -50%);

				border-radius: 50%;

				background: #5A61ED;
			}
		}
	}

	&__buttons {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		position: absolute;
		bottom: 36px;
		left: 22px;
		right: 22px;
		z-index: 1;

		font-size: 13px;

		.account {
			position: absolute;
			left: 0;
			bottom: 8px;

			font-weight: 300;
			font-size: 13px;
			line-height: 15px;
			color: #000000;

			.login {
				font-weight: 500;
				color: #5A61ED;
			}
		}
	}

	&__btn {
		min-width: 154px;
		height: 32px;
		padding: 0;
		margin: 0;

		font-family: 'PT Sans', sans-serif;
		font-size: 14px;
		line-height: 18px;
		color: #FFFFFF;

		background: #5A61ED;
		border: none;
		cursor: pointer;
	}
}

/* Thanks
================================ */

.thanks {
	display: none;
	position: absolute;
	top: 50%;
	right: 0;
	left: 64px;

	transform: translateY(-50%);

	&__title {
		font-weight: 500;
		font-size: 22px;
		line-height: 42px;
		letter-spacing: -0.46px;
	}

	&__subtitle {
		font-weight: 300;
		font-size: 14px;
		line-height: 16px;
	}
}


/* Bakcground
================================ */
#shape {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 0;
}

/* input errors
================================ */
#firstname-error,
#lastname-error,
#email-error,
#password-error,
#confirm_password-error {
	position: absolute;
	right: 0;
	bottom: -12px;
	z-index: -1;

	font-size: 10px;
	color: red;


}

/* Animation input
================================ */
.fadeInUp--1 {
	animation-duration: 1s;
	animation-delay: 1s;
}

.fadeInUp--2 {
	animation-duration: 1s;
	animation-delay: 1.5s;
}

.fadeInUp--3 {
	animation-duration: 1s;
	animation-delay: 2s;
}

.fadeInUp--4 {
	animation-duration: 1s;
	animation-delay: 2.5s;
}

.fadeInUp--5 {
	animation-duration: 1s;
	animation-delay: 3s;
}

.fadeInUp--6 {
	animation-duration: 1s;
	animation-delay: 3.5s;
}

.fadeInUp--7 {
	animation-duration: 1s;
	animation-delay: 4s;
}

.fadeInUp--8 {
	animation-duration: 1s;
	animation-delay: 4.5s;
}

.fadeInUp--9 {
	animation-duration: 1s;
	animation-delay: 5s;
}



/* Media
================================ */

@import 'media';